
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Ana Sayfa</a>
                <span class="breadcrumb-item active">Ürün Listesi</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

@await Component.InvokeAsync("_CarouselDefaultPartialComponent")

@await Component.InvokeAsync("_FeatureDefaultPartialComponent")

@await Component.InvokeAsync("_CategoriesDefaultPartialComponent")

@await Component.InvokeAsync("_FeatureProductsDefaultPartialComponent")

@await Component.InvokeAsync("_OfferDiscountDefaultPartialComponent")

@await Component.InvokeAsync("_VendorDefaultPartialComponent")