    <!-- Offer Start -->
<div class="container-fluid pt-5 pb-3">
    <div class="row px-xl-5">
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="~/online-shop-website-template/images/room2.jpg" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">İndirim 15%</h6>
                    <h3 class="text-white mb-3">Salon Takımları</h3>
                    <a href="" class="btn btn-primary">Alışverişe Başlayın</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="~/online-shop-website-template/images/room3.jpg" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Ek İndirim 25%</h6>
                    <h3 class="text-white mb-3">Oda Dekorasyonları</h3>
                    <a href="" class="btn btn-primary">Hemen Kullanın</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Offer End -->